$base: rgb(229, 229, 229);
$blue: rgb(0, 120, 156);
$orange: rgb(255, 132, 0);
$red: rgb(211, 16, 16);
$purple: rgb(192, 23, 162);
$white: rgb(255, 255, 255);
$grey: rgb(213, 213, 213);
$darkgrey: rgb(119, 119, 119);
$black: rgb(0, 0, 0);