$base: rgb(246, 242, 231);
$blue: rgb(8, 132, 160);
$orange: rgb(232, 92, 39);
$red: rgb(204, 27, 33);
$purple: rgb(192, 23, 162);
$white: rgb(255, 255, 255);
$grey: rgb(213, 213, 213);
$darkgrey: rgb(119, 119, 119);
$black: rgb(0, 0, 0);