*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $base;
  font-family: $base-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  color: $white;
}

p { 
  margin: 0;
}