.home {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  h2 {
    text-align: center;
  }

  .drop-zone {
    min-height: 2rem;
  }

  .to-do {
    .task {
      .state {
        color: $blue;
        &:hover {
          color: $blue; 
          cursor: default;
        }
      }
    }
  }

  .doing {
    .task {
      .state {
        color: $orange;
        &:hover {
          color: $orange;
          cursor: default; 
        }
      }
    }
  }

  .done {
    .task {
      .state {
        color: $red;
        &:hover {
          color: $red; 
          cursor: default;
        }
      }
    }
  }
}