.main-nav {
  text-align: center;
  margin: 40px auto;

  a {
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
    color: $black;
  }

  .material-icons {
    font-size: 60px;
  }
} 