
.task {
  margin: 20px auto;
  background: $white;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba($black,0.05);
  border-left: 4px solid $blue;

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .material-icons {
    font-size: 24px;
    margin-left: 10px;
    color:$grey;
    cursor: pointer;
  }
  .material-icons:hover {
    color: $darkgrey;
  }
}